<!--<div ui-content-for="title">
  <span>Forms</span>
</div>
-->
<div class="scrollable">
  <div class="scrollable-content section">
    <ui-shared-state id="activeTab" default="1"></ui-shared-state>

    <ul class="nav nav-tabs">
      <li ui-class="{'active': activeTab == 1}">
        <a ui-set="{'activeTab': 1}">学员注册</a>
      </li>
      <li ui-class="{'active': activeTab == 2}">
        <a ui-set="{'activeTab': 2}">教练注册</a>
      </li>
    </ul>


    <div ui-if="activeTab == 1" ng-include="'biz/student/register.html'"
         ui-track-as-search-param="true">
    </div>

    <div ui-if="activeTab == 2" ng-include="'biz/coach/register.html'"
         ui-track-as-search-param="true">
    </div>


  </div>
</div>
