<!--<div ui-content-for="title">
  <span>Forms</span>
</div>
-->
<div class="scrollable">
 <div class="scrollable-content section" ng-controller="LoginController">

  <form role="form" ng-submit='login()'>
    <fieldset>
      <legend>登陆</legend>
        <div class="form-group has-success has-feedback">
          <label>手机</label>
          <input type="tel"
                 ng-model="loginInfo.phonenum"
                 class="form-control"
                 placeholder="Telephone">
        </div>

        <div class="form-group">
          <label>密码</label>
          <input type="password"
                 ng-model="loginInfo.password"
                 class="form-control"
                 placeholder="Password">
        </div>

        <div class="form-group">
		  <a href="">忘记密码</a>
		  <!--
          <label>Remember Me</label>
          <ui-switch
            ng-model="rememberMe"></ui-switch>
		  -->
        </div>
    </fieldset>
    <hr>

    <button class="btn btn-primary btn-block">
      进入
    </button>
<!--
    <div ui-content-for="navbarAction">
      <a class="btn" ng-click="login()">Login</a>
    </div>
-->
  </form>
 </div>
</div>
