<!--<div ui-content-for="title">
  <span>Forms</span>
</div>
-->
<div class="scrollable">
  <div class="scrollable-content section">

    <form role="form" ng-submit='adduser()'>
      <fieldset>
        <legend>注册</legend>
        <div class="form-group has-success has-feedback">
          <label>手机</label>
          <input type="tel"
                 ng-model="telephone"
                 class="form-control"
                 placeholder="手机号码">
        </div>

        <div class="form-group">
          <label>密码</label>
          <input type="password"
                 ng-model="password"
                 class="form-control"
                 placeholder="密码">
        </div>

        <div class="form-group">
          <label>确认密码</label>
          <input type="password"
                 ng-model="repassword"
                 class="form-control"
                 placeholder="确认密码">
        </div>

        <div class="form-group">
          <label>报考级别</label>
          <select ng-model="selectedExamLevel" class="selectpicker form-control"
                  ng-options="examlevel.name for examlevel in examlevels track by examlevel.id">
          </select>
        </div>

        <div class="form-group">
          <label>选择教练</label>
          <select ng-model="selectedCoach" class="selectpicker form-control"
                  ng-options="coach.name for coach in coachs track by coach.id">
          </select>
        </div>

        <div class="form-group">
          <label>性别</label>
          <select ng-model="selectedSex" class="selectpicker form-control"
                  ng-options="sex.name for sex in sexes track by sex.id">
          </select>
        </div>

        <div class="form-group">
          <label>姓名</label>
          <input type="text"
                 ng-model="name"
                 class="form-control"
                 placeholder="姓名">
        </div>

        <div class="form-group">
          <label>邮箱</label>
          <input type="email"
                 ng-model="email"
                 class="form-control"
                 placeholder="Email">
        </div>
      </fieldset>
      <hr>

      <button class="btn btn-primary btn-block">
        注册
      </button>
      <!--
          <div ui-content-for="navbarAction">
            <a class="btn" ng-click="login()">Login</a>
          </div>
      -->
    </form>
  </div>
</div>
